body {
	margin: 0;
	font-family: Sans-Serif;
}

header, footer {
	padding: 20px;
	color: white;
	background-color: #2F7E32;
	clear: left;
	text-align: center;
}

.container {
	width: 85%;
	max-width: 1400px;
	margin: 0 auto;
}

nav {
	float: left;
	width: 100%;
	margin: 0;
	padding: 15px 15px 0 15px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li {
	float: left;
	margin: 0 0 5px 5px;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: #2F7E32;
}

nav .active {
	background-color: #34A439;
}

article {
	padding: 1em;
	width: 100%;
	float: left;
}

#send-email input[type=text],
#send-email select,
#send-email textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #bbb;
	box-sizing: border-box;
	resize: vertical;
}

#send-email input[type=checkbox] {
	margin: 10px 10px 10px 0;
}

#send-email label {
	padding: 10px 10px 10px 0;
	display: inline-block;
}

#send-email input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
	margin-top: 20px;
}

#send-email #messageBody {
	height: 200px;	
}

#send-email .col-label {
	float: left;
	width: 20%;
	margin-top: 5px;
}

#send-email .col-input {
	float: left;
	width: 80%;
	margin-top: 5px;
}

#send-email .row:after {
	content: "";
	display: table;
	clear: both;
}

#history {
	border-collapse: collapse;
	width: 100%;
}

#history th, td {
	text-align: left;
	padding: 8px;
}

#history tr:nth-child(even) {
	background-color: #f2f2f2;
}

#history th {
	background-color: #34A439;
	color: white;
}

#message {
	border: 1px solid #bbb;
	padding: 20px;
}

@media screen and (max-width: 600px) {
	#send-email .col-label,
	#send-email .col-input,
	#send-email input[type=submit] {
		width: 100%;
	}
}