<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>FriendSpammer</display-name>
  <servlet>
    <servlet-name>EmailServlet</servlet-name>
    <servlet-class>nl.hu.bep.friendspammer.web.EmailServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>HistoryServlet</servlet-name>
    <servlet-class>nl.hu.bep.friendspammer.web.HistoryServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>EmailServlet</servlet-name>
    <url-pattern>/send-email</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>HistoryServlet</servlet-name>
    <url-pattern>/history</url-pattern>
  </servlet-mapping>
</web-app>
